@import "compass";

.scroll-up {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .message {
        -webkit-transform: translate3d(0, 0, 0);
        position: absolute;
        top: -10%;
        opacity: 0;
        z-index: 0;
        @include transition-property(top opacity font box-shadow);
        @include transition-duration(1s);
        @include transition-timing-function(ease-in-out);

        &.next {
            top: 100%;
        }

        &.prev-two {
            top: 5%;
            opacity: .3;
            z-index: 1;
        }
        &.prev-one {
            top: 20%;
            opacity: .6;
            z-index: 1;
        }

        &.focus {
            top: 35%;
            opacity: 1;
            z-index: 3;
	    box-shadow: 10px 10px 20px #333;
        }

        &.next-one {
            top: 65%;
            opacity: .6;
            z-index: 2;
        }
        &.next-two {
            top: 80%;
            opacity: .3;
            z-index: 2;
        }
        &.prev, &.prev-two, &.prev-one, &.next, &.next-one, &.next-two {
          .media-body .text img.twimg {
            opacity: 0;
            max-height: 0px;
            max-width:0px;
            @include transition-property(all);
            @include transition-duration(1s);
            @include transition-timing-function(ease-in-out);
          }
        }
        &.focus {
          .media-body .text img.twimg {
            opacity: 1;
            height: auto;
            width:auto;
            max-height:150px;
            max-width:150px;
            @include transition-property(all);
            @include transition-duration(1s);
            @include transition-timing-function(ease-in-out);
          }
        }

    }
}

.scroll-down {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .message {
          -webkit-transform: translate3d(0, 0, 0);
          position: absolute;
          top: 100%;
          opacity: 0;
          z-index: 0;
          @include transition-property(top opacity);
          @include transition-duration(1s);
          @include transition-timing-function(ease-in-out);

          &.next {
              top: -10%;
          }

          &.prev-one {
              top: 70%;
              opacity: .3;
              z-index: 1;
          }

          &.focus {
              top: 40%;
              opacity: 1;
              z-index: 3;
          }

          &.next-one {
              top: 10%;
              opacity: .3;
              z-index: 2;
          }
    }
}
