body {
    background-color: #77297F;
}

.navbar-default {
    background-color: #F26A2F;
    border-color: #FCB515;

    .navbar-brand, .navbar-text {
        color: black;

        &:focus, &:hover {
            color: #f9f8f7;
        }
    }
}

.btn-default {
    background-color: #044984;
    border-color: #044984;
    color: #f9f8f7;

    &:focus, &:hover, &:active, &.active {
        background-color: #033D6D;
        border-color: #033D6D;
        color: #f9f8f7;
    }
}

.well {
    background-color: #f9f8f7;
    border-color: #f9f8f7;
    color: #3f3f3f;
}

.well.focus {
  font-size:170%%;
}

a {
    color: #0072bc;
}

.text-muted {
    color: #999;
}

div#logos {
  display: none;
}

nav.navbar {
  display: none;
}

